<!DOCTYPE html>
<html lang="en">
{% include '/components/head.html' %}
<body>

    {% include '/components/header.html' %}

   	<div class="banner-area banner-bg-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="banner">
						<h2>About Us</h2>
						<ul class="page-title-link">
							<li><a href="#">Home</a></li>
							<li><a href="#">About Us</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!--  about section  -->
    {% include '/components/about.html' %}

    <!--  testimonials section  -->
    {% include '/components/testimonials_comp.html' %}

    <!--  footer section  -->
    {% include '/components/footer.html' %}

</body>
</html>